<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Camera_StoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=Camera_Store;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>