<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Camera_StoreConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Camera_Store;User ID=sa; Password=123456" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

